[package]
name = "up-rs"
version = "0.8.1"
authors = ["Gibson Fahnestock <gibfahn@gmail.com>"]
edition = '2018'
license = "MIT OR Apache-2.0"
description = """
up-rs is a tool to help you keep your machine up to date.
"""
documentation = "https://github.com/gibfahn/up-rs"
homepage = "https://github.com/gibfahn/up-rs"
repository = "https://github.com/gibfahn/up-rs"
readme = "README.md"
keywords = ["cli", "tool"]
categories = ["command-line-utilities", "config"]
exclude = ["tests/"]

[[bin]]
name = "up"
path = "src/main.rs"

[dependencies]
walkdir = "2.3.1"
shellexpand = "2.1.0"
structopt = "0.3.21"
serde = "1.0.120"
serde_derive = "1.0.120"
envy = "0.4.2"
toml = "0.5.8"
serde_json = "1.0.61"
serde_yaml = "0.8.15"
log = "0.4.13"
anyhow = "1.0.38"
thiserror = "1.0.23"
chrono = "0.4.19"
git2 = { version = "0.13.16", features = ["vendored-openssl"] }
dirs = "3.0.1"
slog = "2.7.0"
slog-stdlog = "4.1.0"
slog-term = "2.6.0"
slog-scope = "4.4.0"
slog-async = "2.6.0"
displaydoc = "0.1.7"
itertools = "0.10.0"
url = "2.2.0"
rayon = "1.5.0"
reqwest = { version = "0.11.0", features = ["blocking", "json"] }
semver = "0.11.0"
ring = "0.16.19"
plist = "1.1.0"

[dev-dependencies]
testutils = { path = "./testutils" }
ignore = "0.4.17"

[features]
CI = [] # Enabled when running in CI.
